dialog {
  /* background: transparent; */
  background: var(--bg);
  color: var(--fg);

  border-radius: 0.5rem;
  border: none;

  padding: 0;
  margin-block: 1rem;

  /* max-height: calc(100% - 2rem); */
  /* overflow: hidden; */
}

@media (prefers-reduced-motion: no-preference) {
  dialog[open] {
    animation: anim 500ms ease;
  }

  @keyframes anim {
    from {
      /* transform: translateY(calc(0px - 90vh)); */
      opacity: 0;
    }
    to {
      /* transform: translateY(0); */
      opacity: 1;
    }
  }
}

dialog::backdrop {
  background-color: black;
  opacity: 0.66;
}

dialog:focus-visible {
  outline: 1px solid var(--__fg);
}
