dialog {
  /* background: transparent; */
  background: var(--bg);
  color: var(--fg);

  border-radius: 0.5rem;
  border: none;

  padding: 0;
  margin-block: 1rem;

  /* max-height: calc(100% - 2rem); */
  /* overflow: hidden; */
}

dialog::backdrop {
  background-color: black;
  opacity: 0.66;
}

dialog:focus-visible {
  outline: 1px solid var(--__fg);
}
