@import '@kazkadien/svelte/styles.css' layer(kazkadien);

:is(.btn):hover {
	outline: none;
}
/* button.btn.outlined { */
/* 	background: var(--__bga); */
/* } */
/* .btn { */
/* 	border-width: 1px; */
/* } */

.btn.custom {
	background: var(--bg3);
	border-width: 1px;
	color: var(--fg);
	border-color: var(--fl);
}
.btn.custom:is(:hover, :focus-visible) {
	color: var(--__fg);
	border-color: currentColor;
}

.form,
.form :where(.field) {
	background: var(--bg);
}

/* a.btn.text { */
/* 	background: var(--bg); */
/* } */

:root {
	--scrollbar-thumb: var(--fl);
	--scrollbar-thumb-hover: var(--fg2);
}
html.dark {
	--scrollbar-thumb: var(--fl0);
	--scrollbar-thumb-hover: var(--fl2);
}
