@import '@kazkadien/svelte/styles.css';

:is(.btn):hover {
	outline: none;
}
button.btn.outlined {
	background: var(--__bga);
}
/* button.btn.outlined:hover { */
/* 	border-color: var(--__fgo); */
/* } */
/* :is(.dtl, .btn) { */
/* 	background: var(--bg2); */
/* } */
.form,
.form :is(.field) {
	background: var(--bg);
	/* outline: 1px solid red; */
}
/* a.btn.text { */
/* 	background: var(--bg); */
/* } */

:root {
	--hue-sat-bg: 220, 20%;

	--bg0: hsl(var(--hue-sat-bg), 89%);
	--bg1: hsl(var(--hue-sat-bg), 93%);
	--bg2: hsl(var(--hue-sat-bg), 96%);
	--bg3: hsl(var(--hue-sat-bg), 98%);
	--bg4: hsl(var(--hue-sat-bg), 100%);
	--bg: var(--bg2);

	--_l: 50%;
	--bga0: hsl(var(--hue-sat-bg), var(--_l), 0.1);
	--bga1: hsl(var(--hue-sat-bg), var(--_l), 0.25);
	--bga2: hsl(var(--hue-sat-bg), var(--_l), 0.5);
	--bga: var(--bga0);

	--fg0: hsl(0, 0%, 6%);
	--fg1: hsl(0, 0%, 16%);
	--fg2: hsl(0, 0%, 26%);
	--fg3: hsl(0, 0%, 36%);
	--fg: var(--fg1);

	--fga0: hsla(0, 0%, 0%, 0.5);
	--fga1: hsla(0, 0%, 0%, 0.75);
	--fga: var(--fga0);
}

html.dark {
	--hue-sat-bg: 195, 4%;

	--bg0: hsl(var(--hue-sat-bg), 7%);
	--bg1: hsl(var(--hue-sat-bg), 9%);
	--bg2: hsl(var(--hue-sat-bg), 11%);
	--bg3: hsl(var(--hue-sat-bg), 12%);
	--bg4: hsl(var(--hue-sat-bg), 15%);
	--bg: var(--bg2);

	--bga0: hsl(0, 0%, 50%, 0.1);
	--bga1: hsl(0, 0%, 50%, 0.2);
	--bga2: hsl(0, 0%, 50%, 0.5);
	--bga: var(--bga0);

	--fg0: hsl(0, 0%, 98%);
	--fg1: hsl(0, 0%, 88%);
	--fg2: hsl(0, 0%, 78%);
	--fg3: hsl(0, 0%, 68%);
	--fg: var(--fg1);

	--fga0: hsla(0, 0%, 100%, 0.4);
	--fga1: hsla(0, 0%, 100%, 0.6);
	--fga: var(--fga0);
}
